<h1>Add New Bike to Catalog</h1>
<form action="/add-bike" method="POST" class="new-bike-form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br>
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" required><br>
    <label for="stockQuantity">Stock Quantity:</label><br>
    <input type="number" id="stockQuantity" name="stockQuantity" required><br>
    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image" required><br>
    <input type="submit" value="Submit">
</form>