<form action="/login" method="post" class="login">
    <h2>{{message1}}</h2>
    <h3>{{message2}}</h3>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Login">
</form>
<button onclick="location.href='/register'">New User? Register Here</button>