<h1>Register to Enter Site</h1>
<form action="/register" method="post" class="register">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <label for="street">Street:</label>
    <input type="text" id="street" name="address[street]" required>
    <label for="city">City:</label>
    <input type="text" id="city" name="address[city]" required>
    <label for="state">State:</label>
    <input type="text" id="state" name="address[state]" required>
    <label for="zip">Zip:</label>
    <input type="number" id="zip" name="address[zip]" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" required>
    <input type="submit" value="Register">
</form>