/* style.css */

/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Set background color */
body {
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Navigation styles */
nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Link styles */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 300px; /* Adjust width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product h3 {
    margin-top: 0;
}

.product img {
    width: 100%; /* Ensure images take up full width */
    height: auto; /* Allow images to adjust height while maintaining aspect ratio */
    max-height: 200px; /* Limit maximum height to avoid excessive stretching */
    border-radius: 5px 5px 0 0; /* Rounded corners for top edges */
}

.product form {
    margin-top: 10px;
}

.out-of-stock {
    background-color: #f0f0f0; /* Make the product div slightly greyer */
    pointer-events: none; /* Disable all interactions including the button */
    opacity: 0.6; /* Optionally, make the product div slightly transparent */
}

/* Order form styles */
#orderForm {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.item:last-child {
    border-bottom: none; /* Remove border bottom for the last item */
}

.item h2 {
    margin-top: 0;
}

.item p {
    margin-bottom: 10px;
}

.item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.item label {
    display: block;
    margin-bottom: 5px;
}

.item input[type="number"] {
    width: 50px;
}

button[type="submit"], .order-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover,
.order-submit:hover {
    background-color: #005aad;
}

.cart-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 100;
}

.cart-count {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.ordersView-table {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.ordersView-table th, .ordersView-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.ordersView-table th {
    background-color: #0073e6;
    color: white;
}

.ordersView-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ordersView-table tr:hover {
    background-color: #ddd;
}